.borders{
    border: 1px solid black; 
}
#fouSect{
    border:1px solid black;
    padding:2px;
}
.side{
    
    flex:1;
}
.middle{
    
    flex:2;
}

.flex-container .ListOfColors{
    display:flex;
    flex-direction:column;
    flex:1;
    padding-left: 50px ;
    font-size: 30px;
    font-weight: bold;
    
    

}

a:hover{

    text-decoration-line:underline;
    text-decoration:black;
}
.rowGroup{
    display:flex;
    flex-direction:row;
    align-items: stretch;

}

.flex-container > div{
    
    width: auto;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
}

h1{
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 60px;
    font-weight:600;
    margin: 60px 0;
}
img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:100%;

}
h2{
    font-weight: normal;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    margin:15px 0;

}

p{
    margin : 3px ;
    text-align: left;
    line-height: 1.4;
    font-style: normal;
    font-size: 15px;
    padding : 10px;
}